# 1. Ignore everything
*

# 2. Allow the .gitignore itself and documentation
!.gitignore
!README.md
!LICENSE

# 3. Whitelist specific files in the Home root
!.tmux.conf

# 4. Whitelist the nvim directory specifically
# We unignore the folder, then everything inside it
!.config/
!.config/nvim/
!.config/nvim/**

# 5. Re-ignore specific junk inside whitelisted folders
.config/nvim/lazy-lock.json
*.swp
*.swo
.DS_Store
